## Задание
#### Вы работаете аналитиком в Яндекс.Дзене. Почти всё ваше время занимает анализ пользовательского взаимодействия с карточками статей.
Каждую карточку определяют её тема и источник (у него тоже есть тема). 
Примеры тем: 
- «Красота и здоровье», 
- «Россия», 
- «Путешествия».
#### Пользователей системы характеризует возрастная категория. 
Скажем, 
- «26-30» или «45+».
#### Есть три способа взаимодействия пользователей с системой:
- Карточка отображена для пользователя (show);
- Пользователь кликнул на карточку (click);
- Пользователь просмотрел статью карточки (view).

#### Вопросы менеджеров:
- Сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
- Как много карточек генерируют источники с разными темами?
- Как соотносятся темы карточек и темы источников?
Нужно сделать дашборд.
Дашборд будет основываться на пайплайне, который будет брать данные из таблицы, в которых хранятся сырые данные, трансформировать данные и укладывать их в агрегирующую таблицу.

## Краткое ТЗ:
- Бизнес-задача: анализ взаимодействия пользователей с карточками Яндекс.Дзен;
- Насколько часто предполагается пользоваться дашбордом: не реже, чем раз в неделю;
- Кто будет основным пользователем дашборда: менеджеры по анализу контента;
#### Состав данных для дашборда:
- История событий по темам карточек (два графика - абсолютные числа и процентное соотношение);
- Разбивка событий по темам источников;
- Таблица соответствия тем источников темам карточек;
#### По каким параметрам данные должны группироваться:
- Дата и время;
- Тема карточки;
- Тема источника;
- Возрастная группа;
#### Характер данных:
 - История событий по темам карточек — абсолютные величины с разбивкой по минутам;
 - Разбивка событий по темам источников — относительные величины (% событий);
 - Соответствия тем источников темам карточек - абсолютные величины;


- Важность: все графики имеют равную важность;
- Источники данных для дашборда: cырые данные о событиях взаимодействия пользователей с карточками;
- База данных, в которой будут храниться агрегированные данные: дополнительные агрегированные таблицы в БД zen;
- Частота обновления данных: один раз в сутки, в полночь по UTC;

### Какие графики должны отображаться и в каком порядке, какие элементы управления должны быть на дашборде (макет дашборда):
![](https://raw.githubusercontent.com/konicaRu/pictures_blog/master/Tableau_10_project.jpg)

### [Презентация дашборда](https://github.com/konicaRu/i_am_data_analyst/blob/master/10_project_dashboard/DASHBOARD_dzen.pdf)
### [Дашборд в Tableau](https://public.tableau.com/profile/dim6669#!/vizhome/10_project_ya_practik/Dashboard1)

In [12]:
#!pip install psycopg2

In [4]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
import sweetviz as sv


#db_config = {'user': 'praktikum_student', # имя пользователя
            #'pwd': 'Sdf4$2;d-d30pp', # пароль
           # 'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
                #'port': 6432, # порт подключения
            #'db': 'data-analyst-zen-project-db'} # название базы данных

#connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                #db_config['pwd'],
                                                #db_config['host'],
                                                #db_config['port'],
                                                #db_config['db'])

#engine = create_engine(connection_string) 

#query = '''
                #SELECT * FROM dash_visits
        #'''
#dash_visits = pd.io.sql.read_sql(query, con = engine)
#dash_visits.to_csv('dash_visits.csv')

In [9]:
df = pd.read_csv('C:\\Users\\User\\Downloads\\dash_visits.csv')

In [10]:
advert_report = sv.analyze(df)
advert_report.show_html('Advertising.html')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=8.0), HTML(value='')), la…

Report Advertising.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [19]:
display(df.head())

,Unnamed: 0,record_id,item_topic,source_topic,age_segment,dt,visits
0,0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27

In [20]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    30745 non-null  int64
 1   record_id     30745 non-null  int64
 2   item_topic    30745 non-null  object
 3   source_topic  30745 non-null  object
 4   age_segment   30745 non-null  object
 5   dt            30745 non-null  object
 6   visits        30745 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.6+ MB

None

In [25]:
display(df['item_topic'].value_counts().sort_values())

Шоу                    804
Женская психология     914
Знаменитости           976
Скандалы              1023
Психология            1056
Рассказы              1109
Искусство             1119
Юмор                  1129
Культура              1160
Красота               1193
Здоровье              1203
Туризм                1206
Дети                  1229
Женщины               1230
Деньги                1234
Путешествия           1247
Семья                 1287
История               1363
Россия                1385
Общество              1422
Полезные советы       1424
Подборки              1456
Наука                 1505
Интересные факты      1535
Отношения             1536
Name: item_topic, dtype: int64

In [22]:
display(df['source_topic'].value_counts())

Семейные отношения    1822
Россия                1687
Знаменитости          1650
Полезные советы       1578
Путешествия           1563
Кино                  1505
Дети                  1459
История               1437
Семья                 1405
Одежда                1379
Здоровье              1243
Искусство             1228
Авто                  1077
Психология            1055
Сад и дача            1036
Политика              1024
Спорт                 1007
Сделай сам             995
Ремонт                 985
Деньги                 973
Еда                    912
Интерьеры              809
Строительство          758
Музыка                 750
Технологии             741
Финансы                667
Name: source_topic, dtype: int64

In [23]:
display(df['visits'].sum())

310207